<h1><%= @station.name %> Observations</h1>

<% if @observations.any? %>

  <div class="graphs-container">
    <% attributes = %w[temp max_temp min_temp wind_speed wind_direction wind_gust_speed melted_precipitation_1hr snow_height snow_water_equivalent] %>

    <% attributes.each do |attribute| %>
      <div class="graph-section">
        <h3><%= attribute.titleize %></h3>
        <%= render 'graph', observations: @observations, attribute: attribute %>
      </div>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Temp</th>
        <th>MxTp</th>
        <th>MnTp</th>
        <th>Wind Spd</th>
        <th>Wind Dir</th>
        <th>Gust Spd</th>
        <th>Pcp1</th>
        <th>Snow Depth</th>
        <th>SWE</th>
        <!-- Add more headers as needed -->
      </tr>
    </thead>
    <tbody>
      <% @observations.each do |observation| %>
        <tr>
          <td><%= observation.date %></td>
          <td><%= observation.time %></td>
          <td><%= observation.temp %></td>
          <td><%= observation.max_temp %></td>
          <td><%= observation.min_temp %></td>
          <td><%= observation.wind_speed %></td>
          <td><%= observation.wind_direction %></td>
          <td><%= observation.wind_gust_speed %></td>
          <td><%= observation.melted_precipitation_1hr %></td>
          <td><%= observation.snow_height %></td>
          <td><%= observation.snow_water_equivalent %></td>
          <!-- Add more cells as needed -->
        </tr>
      <% end %>
    </tbody>
  </table>


  <%= link_to 'Temperature Chart', temperature_chart_path(@station.name) %>


<% else %>
  <p>No observations available for this station.</p>
<% end %>
